<div class="blog-header">
  <img class="site-logo" src="/sblog/img/sitelogo.jpg" alt="" />
  <h1 class="blog-title"><%= config.title %></h1>
  <% if (theme.subtitle){ %>
    <p class="lead blog-description"><%= theme.subtitle %></p>
  <% } %>
</div>
